* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #F7FAFC;
  color: #000;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

/* Nav Bar */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  transition: 0.6s;
  padding: 18px 110px;
  background-color: #ffffff;
  border: 0.2px solid #e7e7e7;
}

.main-nav .logo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  padding: 0;
  transition: 0.6;
}

.main-nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.main-nav ul li {
  position: relative;
  display: flex;
}

.main-nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 4px solid #f97f51;
}

.main-nav ul li:first-child a {
  border-bottom: 4px solid #f97f51;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* Header  */
.showcase {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  box-sizing: border-box;
}

.main-img {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-sizing: border-box;
}

.main-img img {
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.imgs img {
  margin-top: 10px;
  height: 48px;
  border-radius: 5px;
}

.left a {
  margin-top: 10px;
  font-size: 24px;
  padding-right: 25px;
}

.left a:hover {
  color: #f97f51;
}

/* What We Do  */

.home-cards {
  margin-top: 80px;
  padding: 40px 0 50px 0;
}

.title p,
.title h2 {
  text-align: center;
}

.title p,
span {
  color: #f97f51;
}

.cards {
  margin: 40px 20px 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cards .cards-item {
  background-color: #fefefe;
  border: 0.1px solid #e7e7e7;
  padding: 50px 35px 30px 40px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  margin: 0 10px 0 10px;
  border-radius: 15px;
}

.cards .cards-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

.cards .cards-item img {
  margin-bottom: 10px;
}

.cards .cards-item h4 {
  margin-bottom: 8px;
}

.cards .cards-item a:hover i {
  padding-left: 10px;
}

.cards .cards-item a {
  color: #f97f51;
  font-size: 16px;
  font-weight: bold;
}

/* Recent Work */

.card-work {
  margin: 60px 0 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.card-work .cards-item {
  background-color: #fefefe;
  border: 0.1px solid #e7e7e7;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  margin: 0 8px 0 8px;
  border-radius: 10px;
}

.card-work .cards-item h4,
.card-work .cards-item p,
.card-work .cards-item h6 {
  padding: 10px 10px 15px 15px;
}

.card-work .cards-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.card-work .cards-item:hover {
  background-color: rgb(255, 121, 63, 0.8);
  transform: scale(1.1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}

/* Footer */
footer {
  background-color: #f97f51;
  color: #fefefe;
  padding-bottom: 80px;
}

footer .about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 50px;
}

footer p {
  font-size: 14px;
}

footer #about-sec {
  padding: 0 10px 0 10px;
}

#about-sec a {
  display: flex;
  color: #fefefe;
}

#about-sec div {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 8px;
}

#about-sec div i {
  margin-top: 5px;
  margin-right: 12px;
}

#copyright {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 12px;
}

#about-sec p {
  margin-top: 16px;
}

@media (max-width: 850px) {
  .menu-btn {
    display: block;
    position: fixed;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav .logo {
    right: 60px;
    grid-template-columns: 1fr 1fr;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 70%;
    height: 100vh;
    border-right: #ccc 1px solid;
    opacity: 0.8;
    padding: 40px 0px 40px 40px;
    transform: translateX(-570px);
    transition: transform 0.6s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 40px 10px 0 40px;
    border-bottom: #ccc 1px solid;
    font-size: 14px;
    position: relative;
    background: #f2f2f2;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 1;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-50px);
  }

  .title {
    margin-bottom: 30px;
  }

  .cards {
    padding: 0;
    margin: 30px 0;
    grid-template-columns: 1fr;
    margin: auto;
  }

  .cards .cards-item {
    margin-top: 10px;
  }

  .card-work {
    grid-template-columns: 1fr;
  }

  .card-work .cards-item {
    margin-top: 20px;
  }

  footer .about {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 24px;
  }
}

.imgs img {
  cursor: pointer;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Queries */
@media(max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .showcase {
    grid-template-columns: 1fr;
    margin-top: 120px;
  }

  .showcase .main-img {
    margin-top: 30px;
  }

  .main-nav .logo {
    right: 60px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .main-img .imgs img {
    width: 90px;
  }

  .main-img #current {
    width: 380px;
  }
}

@media (max-width: 450px) {
  .main-img .imgs img {
    width: 75px;
  }

  .main-img #current {
    width: 320px;
  }
}

@media (max-width: 1400px) {
  .main-nav .logo {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .main-nav ul {
    align-items: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
  }
}